<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>About Me:</h2>
    <p>Rick Yost is a serial entrepreneur, attorney, author, mentor, and the co-founder of VeteransList.US.  A service disabled veteran himself, Rick brings his military experience as an Army officer (12+ years), extensive education (PMP, MA, MBA, and JD), startup experience, and his general business experience to bear in consulting, entrepreneurship, and providing support to multiple Veteran owned businesses.   Additionally, Rick volunteers as secretary and board member for the U.S. Army Ranger Association.</p> 
    <ul>
        <li>2008-Present:  Entrepreneur, COO, Attorney, Investor, Author</li>
        <li>2001-2008:  Government Contractor, IT consultant, Program Manager, (PMP)</li>
        <li>1989-2001:  U.S. Army Officer, Airborne Ranger, Armored Cavalry Officer in deserts across the globe.</li>
    </ul>        
    <p>Rick grew up in a small town in South Dakota and loves to golf, hunt, and ski.  Rick resides in Woodside, CA where he enjoys being a supportive husband and father to four children and and one Labrador retriever.</p>
    <a href="/projects"><button>See my projects</button></a>
</body>
</html>